body {
    background-color: hwb(0 100% 0%);
}

#main {
    padding: 40px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.quadro-input {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 0 5px;
    background-color: #ececec;
    padding: 10px 15px;
    border-bottom: 1px solid rgb(156, 156, 156);
    height: 80px;
}

h6 {
    opacity: 0.7 !important;
    font-size: 15px !important;
}

h4 {
    margin-left: 5px;
}

.aviso {
    margin: 0 5px;
    font-size: 16px;
}

.quadro-grafico {
    margin: 0 30px;
    background-color: #ececec;
    padding: 100px 60px;
    border-radius: 4px;
}

.quadro-grafico h1 {
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 40px;
    text-wrap: wrap;
}

.descricao-grafico {
    font-size: 1.6rem;
    margin-bottom: 40px;
    font-weight: 300;
}

.quadro-grafico h1::before {
    content: "";
    display: block;
    width: 30%;
    height: 5px;
    background-color: #472f92;
    margin-bottom: 20px;
}